<% if !(@play) %>
	<%
	meta :title => "About | Oatmel"
	%>
<% end %>
<div class="container">
	<div class="oatmeal_container">
	<h1 style="margin-top:-20px;">Oatmel is good for you.</h1>
	<h2>Find out what else is good...</h2>
	<div style="width:700px;max-width:100%;max-height:100%;font-size:17px;">
		<hr>
		Oatmel is the place to <a href="/">discover</a> great items you find online or at your favorite grocer. It's also the place to share with the world what you think about any product and see what everyone else thinks by writing honest and fair reviews.
		<br />
		<br />
		Oatmel is also your <a href="/community">community</a>. It’s your place to talk to other folks that are health conscious and passionate about food products, supplements, and home goods.
		<br />
		<br />
		Oatmel is good for you…
		<hr>
	</div>
	Have feedback or questions? Shoot us a note: <a href="mailto:zach@breue.com" target="_top">zach@breue.com</a>
	<br />
	<br />
	<div style="display:block;width:140px;max-width:100%;max-height:100%;text-align:center;">
	  Brought to you by 
	  <br />
	  <br />
		<a target="_blank" href="https://breue.com">
			<%= image_tag "breue_logo.svg", style: "width:140px;" %>
		</a>
	</div>
</div>
</div>
<br />
<br />
<br />