<div class="container-fluid" stlyle="scroll-behavior: smooth;">
  <div class="row flex-nowrap" style="overflow-x: auto;
    white-space: nowrap;transition: height 1s linear;scroll-behavior: smooth;">
        <% @categories.each do |tag| %>
          <div class="coly" style="display: inline-block;float: none;">
            <%= link_to tag, "/community?query=#{tag.gsub(' & ', ' and ' )}", :class => "btn btn-default", style: "margin-right:5px;margin-bottom:15px;",  "data-turbolinks-persist-scroll"=> 'true', onClick: "setCatQuery2('/community?query=#{tag.gsub(' & ', ' and ' )}', '#{SecureRandom.uuid}');" %>
          </div>
        <% end %>
  </div>
</div>
<div class="container">
  <%= form_tag("/community", :method => "get", id: "post_searchy") do %>
  <div style="width:600px;display:block;margin-left:auto;margin-right:auto;max-width:100%;max-height:100%;padding-right:10px;padding:left:10px;">
    <div class="lefty">
      <input type="text" placeholder="Search for a post" value="<%= "#{params[:query]}".gsub(' and ', ' & ' ) %>" name="query" id="post_search" class="form-control form-control-lg" autocomplete="off">
    </div>
    <div class="righty">
      <button class="btn btn-primary btn-lg" value="search" type="submit"><i class="fas fa-search"></i></button>
    </div>  
  </div>
  <% end %>            
</div>
<script>
autocomplete(document.getElementById("post_search"), <%= raw @keywords %>);
</script>
<script>
var input = document.getElementById("post_search");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
    $("#post_searchy").submit();
  }
});
</script>