<!-- Modal -->
<div class="modal fade" id="backPic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="myModalLabel">Back Picture Example</h3>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          <span>*Try to get the ingredients and nutrition label if you can. If you need a seperate picture, you can always upload an extra one too.</span>
          <br />
        	<%= image_tag "back.jpg", style: "width:100%;height:100%;", class: "pretty" %>
        	<br />
        	<br />
        </div>
      </div>
    </div>
  </div>
</div>