<div style="margin-top:14px;">
	<svg height="20px" viewBox="0 0 512 410" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <title>Menu</title>
	    <defs></defs>
	    <g id="main_page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	        <g id="menu_icon" fill-rule="nonzero" fill="#333333">
	            <g id="Group">
	                <rect id="Rectangle-path" x="0.013" y="0.196" width="511.975" height="81.934"></rect>
	                <rect id="Rectangle-path" x="0.013" y="164.065" width="511.975" height="81.902"></rect>
	                <rect id="Rectangle-path" x="0.013" y="327.902" width="511.975" height="81.901"></rect>
	            </g>
	        </g>
	    </g>
	</svg>
</div>